{% extends "topics/base.html" %}
{% block content %}
<head>
    <title>List of Problems</title>
</head>
<h1>List of Problems</h1>
<br/>
<body>
    {% if problem_list %}
        <ul>
        {% for problem in problem_list %}
            <p>Topic 1 Problems</p>
            <li><a href="/problems/{{problem.problem_id}}/">Problem {{problem.problem_id}}</a></li> 
            <p>Topic 2 Problems</p> <br/>
        {% endfor %}
        </ul>
    {% else %}
        <p>No problems are available.</p>
    {% endif %}
</body>
{% endblock content %}
