{% extends "topics/base.html" %}
{% block content %}
    <h1>List of Topics</h1>
    <br/>
    <h2>Topic 1: Function Parameter Use and Scope</h2>
    <body>
        <ul>
        <p><a href ="/topic1/">Link to Topic 1 Lesson</a></p>
        <li>Topic 1a: Call-by-Reference vs. Call-by-Value Semantics</li>
        <li>Topic 1b: Parameters as Local Variables</li>
        <li>Topic 1c: Initialization of Formal Parameters</li>
        </ul>
    </body>

    <h2>Topic 2: Variables, Identifiers, and Scope</h2>
    <body>
        <ul>
        <p><a href ="/topic2/">Link to Topic 2 Lesson</a></p>
        <li>Topic 2a:  Out-of-Scope Assignment</li>
        <li>Topic 2b: Function Names</li>
        </ul>
    </body>

    <h2>Topic 3: Recursion</h2>
    <body>
        <ul>
        <p><a href ="/topic3/">Link to Topic 3 Lesson</a></p>
        <li>Topic 3a:  Bounded Recursion</li>
        <li>Topic 3b: Stopping Condition</li>
        <li>Topic 3c: Self-Reference</li>
        </ul>
    </body>

    <h2>Topic 4: Iteration</h2>
    <body>
        <ul>
        <p><a href ="/topic4/">Link to Topic 4 Lesson</a></p>
        <li>Topic 4a:  Basic Loop Behavior</li>
        <li>Topic 4b: Logic of Loop Count</li>
        </ul>
    </body>

    <h2>Topic 5: Objects</h2>
    <body>
        <ul>
        <p><a href ="/topic5/">Link to Topic 5 Lesson</a></p>
        <li>Topic 5a:  Accessing Fields</li>
        </ul>
    </body>

    <h2>Topic 6: Boolean Expressions</h2>
    <body>
        <ul>
        <p><a href ="/topic6/">Link to Topic 6 Lesson</a></p>
        <li>Topic 6a:  Truth Tables</li>
        </ul>
    </body>
{% endblock content%}
